bam	merged_bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6D1_RBP1_S85.bam	M6D_RBP1_merged.bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6D2_RBP1_S86.bam	M6D_RBP1_merged.bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6D3_RBP1_S87.bam	M6D_RBP1_merged.bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6G1_RBP1_S88.bam	M6G_RBP1_merged.bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6G2_RBP1_S89.bam	M6G_RBP1_merged.bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6G3_RBP1_S90.bam	M6G_RBP1_merged.bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6Q1_RBP1_S91.bam	M6Q_RBP1_merged.bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6Q2_RBP1_S92.bam	M6Q_RBP1_merged.bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6Q3_RBP1_S93.bam	M6Q_RBP1_merged.bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6C1_RBP1_S94.bam	M6C_RBP1_merged.bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6C2_RBP1_S95.bam	M6C_RBP1_merged.bam
/home/groups/MaxsonLab/vancampe/cutTag-pipeline-molm6-2020-10-08/data/aligned/M6C3_RBP1_S96.bam	M6C_RBP1_merged.bam
