bam	merged_bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12A_1_rmChrM_dedup_quality_shifted.bam	K12A_merged.bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12A_2_rmChrM_dedup_quality_shifted.bam	K12A_merged.bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12A_3_rmChrM_dedup_quality_shifted.bam	K12A_merged.bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12C_1_rmChrM_dedup_quality_shifted.bam	K12C_merged.bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12C_2_rmChrM_dedup_quality_shifted.bam	K12C_merged.bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12C_3_rmChrM_dedup_quality_shifted.bam	K12C_merged.bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12D_1_rmChrM_dedup_quality_shifted.bam	K12D_merged.bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12D_2_rmChrM_dedup_quality_shifted.bam	K12D_merged.bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12D_3_rmChrM_dedup_quality_shifted.bam	K12D_merged.bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12G_1_rmChrM_dedup_quality_shifted.bam	K12G_merged.bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12G_2_rmChrM_dedup_quality_shifted.bam	K12G_merged.bam
/home/groups/MaxsonLab/kongg/bsm1/atac_seq2/samples/bamfiles/K12G_3_rmChrM_dedup_quality_shifted.bam	K12G_merged.bam
